
  .center {
    margin: auto;
    width: 50%;
    background-image: url(booknotepage.jpg) ; 
  } 

  .button1 {
       background-color:transparent; 
       color: transparent; 
       border: transparent;
       border-radius: 50%;
   }

  .button1:hover {
        background-color: black;
        color: white;
    }

   .div2 { 
        width:fit-content ;
        height:fit-content;  
        animation: opacityChng 4s;
    }
    
    .div3 {    
        margin:auto;
        border: 2px solid rgba(141, 79, 9, 0.692);
        border-radius: 10%;
        padding: 1%;
        border-style: double;
        border-width:thick;
        background-image:url(corkBoard.jpg); 
        width:70%;    
        animation: opacityChng 4s;
     }
   
    @keyframes opacityChng {
    0%   { opacity: 0; }
    100% { opacity: 1; }
    }

  
 
  




